@media (min-width: 769px) {
    #play-button {
        display: none;
    }
}


/* mobile.css */
@media (max-width: 768px) {

    .hero-content {
        position: relative;
        z-index: 2; /* Sit above the overlay */
        color: #fff;
        text-transform: uppercase;
        text-align: center; /* Center text */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -35%;
    }
    .vimeo-refugee {
            position: relative;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            z-index: 0;
         transform: scale(4);
        }

    .vimeo-refugee iframe {
        position: relative;
        top: 50%;
        left: 50%;
        border: none;
        z-index: 0;
    }

    .soundcloud-embed {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
    }

    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .hero p {
        font-size: 1rem;
        margin: 10px 0;
    }

    .hero .cta {
        padding: 10px 20px;
        font-size: 0.85rem;
    }

    .navbar {
        top: 10px;
        right: 10px;
        gap: 10px;
    }

    .navbar a {
        font-size: 0.85rem;
    }

    .footer {
        font-size: 0.75rem;
    }
}