@media (min-width: 769px) {
    #play-button {
        display: none; /* Hides the button */
    }
}

@media (max-width: 796px) {

    #play-button {
        z-index: 10;
        background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    }
}