/* Playground Page Specific Styles */
.soundcloud-container {
  margin: 20px auto;
  padding: 15px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.soundcloud-controls button {
  background-color: #696c64;
  color: #fff;
}