/* vimeo.css */
.vimeo-refugee {
    position: fixed;
    top: 0;
    left: -3%;
    width: 105%;
    height: 105%;
    z-index: -1;
    overflow: hidden;
}

.vimeo-refugee iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    pointer-events: none; /* Ensure the video does not interfere with other elements */
}