/* vimeo.css */
/* container for the video */
.vimeo-refugee {
    border: 2px solid red; /* Add a red border to the container */
    background-color: rgba(255, 0, 0, 0.2); /* Add a semi-transparent background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* iframe for the video inside of container */
.vimeo-refugee iframe {
    border: 2px solid blue; /* Add a blue border to the iframe */
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    /*transform: translate(-50%, -50%);*/
    object-fit: cover;
    pointer-events: none; /* Ensure the video does not interfere with other elements */
}

/* vimeo.css */
.vimeo-matreshka {
    position: fixed;
    top: 0;
    left: -25%;
    width: 150%;
    height: 150%;
    z-index: -1;
    overflow: hidden;
}

.vimeo-matreshka iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    pointer-events: none;
}

.vimeo-legalization {
    position: fixed;
    top: 0;
    left: -3%;
    width: 105%;
    height: 105%;
    z-index: -1;
    overflow: hidden;
}

.vimeo-legalization iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    pointer-events: none; /* Ensure the video does not interfere with other elements */
}